:root {
    --main-text-color: #777777;
    --secondary-text-color: #ffffff;
    --placeholder-color: #BBBBBB;
    --heading-bg: #222222;
    --accent-color: #FED136;
    --bg-color: #ffffff;
    --footer-bg: #222222;
    --main-text-size: 14px;
    --title-text-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--main-text-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.container {
    width: 964px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.87;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

header {
    padding-top: 44px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-list > li {
    padding: 0 16px;
}

.nav-list a {
    position: relative;
    padding: 12px 0;
    line-height: 2.6;
    text-transform: uppercase;
    color: var(--accent-color);
}

.nav-list .current {
    color: goldenrod;
}

.nav-list .current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: goldenrod;
}

.nav-list a:hover {
    color: goldenrod;
}

.services-section {
    padding-top: 109px;
    padding-bottom: 105px;
}

.services-title {
    margin-bottom: 88px;
    color: var(--heading-bg);
}

.services-list {
    display: flex;
    gap: 56px;
}

.services-list > li {
    width: 274px;
    text-align: center;
}

.services-list > li::before {
    content: "";
    display: block;
    height: 70px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #fef6d8; */
    border: 3px solid #FED136;
    border-radius: 50%;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.services-list > li:nth-child(2):before {
    background-image: url(../images/web.svg);
}

.services-list > li:nth-child(3):before {
    background-image: url(../images/security.svg);
}

.services-list h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 4.17;
    color: var(--heading-bg);
}

footer {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 115px;

    background-color: var(--footer-bg);
}

.footer-title {
    margin-bottom: 114px;
    color: var(--secondary-text-color);
}

.footer-form {
    text-align: center;
}

.label-wrapper {
    display: flex;
    gap: 28px;
    margin-bottom: 28px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    /* width: calc((100% - 28px) /2 ); */
}

.form-textarea,
.input-wrapper {
    width: calc((100% - 28px) /2 );
}

/* .input-wrapper > label,  */
.form-textarea > textarea,
.input-wrapper input {
    width: 100%;
    padding: 14px 22px;
    border-color: transparent;
}

input::placeholder,
textarea::placeholder {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--placeholder-color);
}

.form-btn {
    padding: 22px 32px;
    min-width: 242px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border: transparent;
    cursor: pointer;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}